* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid limegreen !important; */
  /* background: rgb(0 100 0 / 0.1) !important; */
}

html {
  font-family: 'Roboto', sans-serif;
  display: block;
}

body {
  background-color: sienna;
}